################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Kafka/KafkaProductionPOC/.vs
/Kafka/KafkaProductionPOC/src/KafkaLagMonitor/KafkaLagMonitor.csproj.user
*.user
